<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Shopping List - {{room.name}}</title>

        <meta charset="UTF-8"/>
        <meta name="description" content="Shopping List - Manage the {{room.name}} list"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1"/>
        <link rel="shortcut icon" href="/public/img/shopping-cart-128.png"/>

        <!-- iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-title" content="Shopping List"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="white"/>
        <link rel="apple-touch-icon" sizes="128x128" href="/public/img/shopping-cart-128.png"/>
        <link rel="apple-touch-icon" sizes="192x192" href="/public/img/shopping-cart-192.png"/>
        <link rel="apple-touch-icon" sizes="256x256" href="/public/img/shopping-cart-256.png"/>
        <link rel="apple-touch-icon" sizes="512x512" href="/public/img/shopping-cart-512.png"/>

        <!-- Android -->
        <meta name="theme-color" content="#fff"/>
        <link rel="icon" sizes="128x128" href="/public/img/shopping-cart-128.png"/>
        <link rel="icon" sizes="192x192" href="/public/img/shopping-cart-192.png"/>
        <link rel="icon" sizes="256x256" href="/public/img/shopping-cart-256.png"/>
        <link rel="icon" sizes="512x512" href="/public/img/shopping-cart-512.png"/>

        <link rel="stylesheet" href="/public/css/style.css"/>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

        <link rel="manifest" href="/{{room.name}}/manifest.json">
    </head>
    <body>
        <!-- At top for fast render -->
        <script src="/public/js/theme.js"></script>

        <nav class="navbar fixed-top">
            <span class="h1 navbar-brand mb-0 title">
                List - {{room.name}}
            </span>
            <span>
                <span class="navbar-text">
                    <i id="status" class="fas fa-power-off red"></i>
                    <span id="users">0</span>
                </span>
                <div class="btn-group">
                    <div class="three-dots" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" id="clear-suggestions">Clear Suggestions</button>
                        <button class="dropdown-item" id="rename-room" disabled>Rename Room</button>
                    </div>
                </div>
            </span>
        </nav>

        {{{body}}}

        <script>
            const room = "{{room.name}}";
        </script>
        <script src="/public/js/socket.io.min.js"></script>
        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script src="/public/js/jquery.autocomplete.min.js"></script>

        <script src="/public/js/main.js"></script>
    </body>
</html>
